* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


#puzzle-outline {
  display: none;
}

.display-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #daddbb;
  top: 0;
  left: 0;

}

.display-screen * {

  justify-items: center;
  font-family: "Pirata One", system-ui;
  font-size: 150%;
  color: #0e1124;
  text-align: center;
  padding: 10px;

}

.display-screen h2 {
  font-size: 300%;
}

.display-screen button {
  margin: 20px;
  padding: 8px;
  background-color: rgb(126, 91, 45);
  border-color: rgb(71, 51, 25);
  ;
  border-radius: 5px;
}

#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 1;

}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #77e069;
}


.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#river {
  display: block;
  background-color: #53a7e8;
  height: 60vh;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.bank {
  height: 20vh;
  padding: 15px;
  align-items: center;
}

.tile {
  border: 3px solid rgb(0, 83, 0);
  border-radius: 6px;

  width: 70px;
  height: 70px;
}


.turn-red {
  background-color: red;
}

.boat {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.cargo {
  display: block;
  margin-bottom: 0;
}

.shaking {
  animation: warning-shake 0.5s 2;
}

@keyframes warning-shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #daddbb;
  padding: 20px;
}

#messages {
  visibility: hidden;
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 40px;
  right: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Pirata One", system-ui;
  font-size: 130%;

  background-color: #77e069;
  padding: 20px;
  border: 10px solid darkgreen;
  border-radius: 15px;
}

#win-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  padding: 20px;
  padding-top: 30%;
  visibility: hidden;
  z-index: 1;
}

#win-screen p {
  font-size:250%;
  padding-bottom: 20px;
}

.grow-shrink {

  animation-name: grow-shrink;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
    ;
  }
}

@media (max-width: 400px) {

  .display-screen h1 {
    font-size: 180%;
  }

  display-screen * {
    font-size:60%;

  }
  #messages {
 
    top: 30%;
    bottom: 30%;
  }

  #instructions {
    font-size: small;
  }
}

@media (min-width: 600px) {

  body {
    background-color: rgb(241, 238, 227);
    display: flex;
    justify-content: center;
  }

  .display-screen {
    max-width: 600px;
  }



  .container {
    max-width: 600px;
  }

}